body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

/* universal selector,
select all */


* {
    /* font-family: monospace; */
}

html {
    font-size: 24px;
    border: 3px solid black;
}

body {
   
}

main {
    font-family: monospace;
}
button, input, textarea, select {
    font: inherit;
}
h1, h2 {
    color: blue;

}

/* class has more specificity
overrule Selector */

.gray {
    color: gray;
}



p {
    color: purple;
}

p {
    color: red;/*!important; Rule everything else */
}

/* p span {
    text-transform: uppercase;
    background-color: gold;
} */


.highlight {
    text-transform: uppercase;
    background-color: gold;
}




/* use ID */
#second {
    font-style: italic;
}