body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: papayawhip;
    color: rgb(85, 34, 167);
}

p{
    /* color: rgba(85, 34, 167, 0.5); */
    color: #333
}

